<!DOCTYPE html>
<html ng-app="questApp">
    <head>
        <meta charset="utf-8">
        <title>Отправка данных</title>
    </head>
    <body>
        <div ng-controller="AnswerController">
            <form name="answerForm">
                <fieldset>
                    <p>
                        <label for="answerText">Текст ответа</label>
                        <input id="answerText" ng-model="answer.text" required placeholder="Введите ответ">
                    </p>
                    <p>
                        <label for="answerAuthor">Автор ответа</label>
                        <input id="answerAuthor" ng-model="answer.author" required placeholder="Введите автора">
                    </p>
                </fieldset>
                <p>
                    <button type="submit" ng-click="save(answer, answerForm)">
                        Сохранить
                    </button>
                </p>
            </form>
            <div>
                Ответ:
            </div>
            <p ng-bind="response.text"></p>
            <p ng-bind="response.author"></p>
        </div>
        <script src="js/libs/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/AnswerController.js"></script>
    </body>
</html>